* {
    margin: 0;
    padding: 0;
  }
  @font-face {
    font-family: LatoRegular400;
    src: url(fonts/Lato-Regular.ttf);     
}
@font-face {
    font-family: LatoBold700;
    src: url(fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: LatoBlack900;
    src: url(fonts/Lato-Black.ttf);
}
body {
    font-family: LatoRegular400;
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
   }
   .top {
     flex-grow: 1;
   }   
  header .container {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222222;
  } 
  .header_section_one {
      margin-left: 231px;
  }
  .search {
      padding-left: 41px;
  }
  .header_section_two{
      margin-right: 230px;
  }
  .lorem {
      padding-left: 33px;
      padding-right: 33px;
  }
  .cardIconWrap {
      position: relative;
  }
  .cardIconWrap span {
      display: inline-block;
      width: 19px;
      height: 19px;
      color: white;
      background: #f16d7f;
      border-radius: 50%;
      position: absolute;
      text-align: center;
      top: -19px;
      right: -10px;
  }
  .top_info {
    background: #F1E4E6;
    position: relative;
}
.brandInside {
    display: block;
    display: flex;
}
.img_top_info {
    width: 50%;
}
.label {
    font-family: LatoBlack900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-self: center;
    padding-left: 16px;
    margin-left: 64px;
}
.font_size {
    font-family: LatoBold700;
    font-size: 32px;
    line-height: 38px;
}
.font_color {
    color: #F16D7F;
}
.line {
    border-left: 12px solid #F16D7F;
}
  .catalog {
      display: grid;
      grid-template-columns: repeat(3, 360px);
      grid-template-rows: 260px 180px;
      grid-gap: 30px;
      justify-content: center;
      margin-top: 63px;
  }
  .accesories {
      grid-column: 1/-1;
  }
.catalog > div {
    position: relative;
}
.catalog img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}
.text { 
    position: relative;
    z-index: 1;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
}
.bottom_text {
    font-family: LatoBold700;
    font-size: 24px;
    line-height: 29px;
    color: #f16d7f;
}
.main_offers {
    margin-top: 97px;
}
.offers {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 581px 581px;
    grid-gap: 30px;
    justify-content: center;
}
.offers_product {
    display: flex;
    flex-direction: column;
    background: #F8F8F8;;
}
.heading_offers {
    text-align: center;
    margin-bottom: 48px;
}
.first_heading_offers {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 6px;
}
.second_heading_offers {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}
.heading_offers_product {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-top: 25px;
}
.text_offers_product {
font-size: 14px;
line-height: 17px;
color: #5D5D5D;
margin-top: 13px;
margin-bottom: 16px;
}
.price_offers {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
} 
.delete_product {
    position: relative;
}
.offers_product:hover .featuredImgDark {
display: flex;
}
.featuredImgDark {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(58, 56, 56, 0.86);
    display: none;
    justify-content: center;
    align-items: center;
}
.over_button {
    padding: 10px 14px;
    font-size: 14px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background: none;
    display: flex;
}
.img_button {
    margin-right: 11px;
    width: 26px;
    height: 24px;
}
.button_div {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 95px;
}
.button_offers {
    padding: 14px 39px 14px 39px;
    color: #F26376;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #FF6A6A;
    background: white;
}
.servises {
    background: #222224;
   
}
.servises .container {
    display: flex;
    justify-content: space-between;
    padding: 103px 130px 104px 130px;
}
.info_top_servises {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
     
}
.img_servises {
    width: 45px;
    height: 32px;
    margin-bottom: 25px;
}
.heading_servises {
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    margin-bottom: 16px;
}
.text_servises {
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
    max-width: 340px;
}
.subscribe {
    background-image: url(images/background_subscribe.png);
    background-size: cover;
}
.subscribe .container {
    display: flex;
    justify-content: space-between;
    padding: 97px 80px 126px 80px;
}
.left_subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.img_subscribe {
    width: 96px;
    height: 96px;
}
.text_subscribe_left {
    font-size: 20px;
    line-height: 24px;
    color: #222224;
    max-width: 365px;
    padding-top: 30px;
}
.right_subscribe {
    display: flex;
    flex-direction: column;
    padding-top: 53px;
    text-align: center;
}
.subscribe_heading {
   font-family: LatoBold700; 
   font-size: 24px;
   color: #222224;
}
.text_subscribe_right {
    font-size: 18px;
    color: #222224;
    line-height: 28px;
    margin-bottom: 32px;
}
.subscribeForm {
    height: 49px;
}
.subscribeForm input {
height: inherit;
background: #e1e1e1;
border: none;
padding: 6px 61px 6px 22px;
box-sizing: border-box;
border-top-left-radius: 28px;
border-bottom-left-radius: 28px;
}
.subscribeForm input::-webkit-input-placeholder {
    color: #222224;
    font-family: inherit;
    opacity: 0.67;
}
.subscribeForm input::-moz-placeholder {
    color: #222224;
    font-family: inherit;
    opacity: 0.67;
}
.subscribeForm input:-ms-input-placeholder {
    color: #222224;
    font-family: inherit;
    opacity: 0.67;
}
.subscribeForm input:-moz-placeholder {
    color: #222224;
    font-family: inherit;
    opacity: 0.67;
}
.subscribeForm button {
    height: inherit;
    border: none;
    background: #F16D7F;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    color: white;
    font-family: inherit;
    font-size: 14px;
    line-height: 17px;
    padding: 6px 8px 6px 8px;
    margin-left: -3px;
}
footer {
    background: #222224;
}
footer .container {
    display: flex;
    justify-content: space-between;
    padding: 24px 230px 24px 150px;
}
.text_copiright {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}
footer a {
    color: #000;
    background: #FFFFFF;
    width: 32px;
    height: 32px;
    padding: 8px;
    text-decoration: none;
}
footer a:hover {
color: #FFFFFF;
background: #F16D7F;
}
footer a:not(:last-child) {
    margin-right: 7px;
}
@media (min-width: 768px) and (max-width: 1140px) {
    .header_section_one {
        margin-left: 35px;
    }
    .header_section_two {
        margin-right: 32px;
    }
    .label {
        font-size: 44px;
        line-height: 53px;
        margin-left: 40px;
    }
    
    .font_size {
        font-size: 24px;
        line-height: 29px;
    }
    .catalog {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 167px 116px;
        gap: 20px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .main_offers {
        margin-top: 155px;
    }
    .offers {
        grid-template-columns: repeat(2, 360px);
        grid-template-rows: repeat(3, 581px);
        grid-gap: 16px;
    }
    .heading_offers {
        margin-bottom: 72px;
    }
    
    .button_div {
        margin-bottom: 65px;
    }
    .servises .container {
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 64px;
    }
   .info_top_servises {
       padding-top: 48px;
   }
  .subscribe .container{
       flex-direction: column;
       padding-top: 64px;
       padding-bottom: 140px;
   }
   footer .container {
       padding-left: 30px;
       padding-right: 30px;
   }
}

@media (min-width: 320px) and (max-width: 764px) {
    .header_section_one {
        margin-left: 16px;
        }
    .header_section_two{
            margin-right: 16px;
        }
    .rubbish {
        display: block;
        display: none;  
    }
    .lorem {
        display: block;
        display: none;
    }
    .cardIconWrap {
        display: none;
    }
    .top_info {
        padding-top: 148px;
        padding-bottom: 149px;
    }
    .img_top_info{
        display: block;
        display: none;
    } 
    .label {
        font-size: 38px;
        line-height: 46px;
        margin-left: 56px;
    }
    .font_size {
        font-size: 20px;
        line-height: 38px;
    }
    .catalog {
        grid-template-columns: 343px;
        grid-template-rows: repeat(3, 247px) 111px;
        row-gap: 32px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .main_offers {
        margin-top: 65px;
    }
    .offers {
        grid-template-columns: 360px;
        grid-template-rows: repeat(6, 581px);
        grid-gap: 16px;
    }
    .heading_offers {
        margin-bottom: 65px;
    }
    .button_div {
        margin-top: 40px;
    }
    .servises .container {
        flex-direction: column;
        padding: 0 0 81px 0;
    }
    .info_top_servises {
        padding-top: 48px;
    }
    .subscribe .container {
        flex-direction: column;
        padding-top: 64px;
        padding-bottom: 110px;
    }
    .text_subscribe_left {
        font-size: 18px;
        line-height: 22px;
    }
    .text_subscribe_right {
        font-size: 14px;
        margin-bottom: 22px;
    }
    .subscribeForm {
        display: flex;
        justify-content: center;
    }
footer .container {
    flex-direction: column-reverse;
    padding: 43px 0 10px 0;
    align-items: center;
}
.right_footer {
    padding-bottom: 40px;
}
.left_footer {
    padding-bottom: 9px;
}
} 
@media (min-width: 1600px) {
    .container {
        margin: 0 auto;
        width: 1140px;
    }
}
.brandDark {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.hidden {
    display: none;
}
.menu {
    width: 232px;
    height: inherit;
    background: white;
    margin-left: auto;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 37px 24px;
    box-sizing: border-box;
    position: relative;
    max-height: inherit;
    overflow: auto;
}
.menuClose {
    position: absolute;
    top: 16px;
    right: 16px;
}
.menuTitle {
    font-family: LatoBold700;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin-bottom: 16px;
}
.menuUnit a {
    display: block;
    font-size: 14px;
    line-height: 33px;
    color: #6f6e6e;
    text-decoration: none;
    box-sizing: border-box;
    margin-left: 21px;
}
.menuHeader {
    font-size: 14px;
    line-height: 33px;
    color: #f16d7f;
}
/* Стили для страницы Catalog */

.new_arrivals {
display: flex;
justify-content: space-between;
height: 148px;
background: #F8F3F4;
}
.left_new_arrivals {
    padding-top: 59px;
    padding-left: 230px;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}
nav {
    padding-top: 65px;
    padding-right: 230px;
}
.right_new_arrivals {
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}
.color_right_new_arrivals {
    color: #F16D7F;
}
